<button id="addNewPostButton" onclick="toggleAddNewPostForm()">Show Blog Post Form</button>

<form id="addNewPostForm" action="/posts" method="POST" style="display: none;">
  <input class="addNewPostTitleInput" type="text" name="title" placeholder="Title" required>
  <textarea name="content" placeholder="Content" required></textarea>
  <input type="hidden" name="user_id" value="{{userId}}">
  <button type="submit">Create Post</button>
</form>

<script src="/js/dashboard.js"></script>
