<ul class="header-list">
  {{#if isUserLoggedIn}}
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/users/logout">Logout</a></li>
    <li><a href="/home">Home</a></li>
  {{else}}
    <li><a href="/signin">Sign In</a></li>
    <li><a href="/home">Home</a></li>
  {{/if}}
</ul>
