{{#each posts}}
  <div class="post">
    <h2>{{this.dataValues.title}}</h2>
    <p>{{this.dataValues.content}}</p>
    <p>Author: {{this.dataValues.user.dataValues.username}}</p>
    <p>Created at: {{formatDate this.dataValues.created_at}}</p>
  </div>
{{/each}}
