  <h1>Sign In</h1>

  <form action="/signin" id = 'signin-form' method="POST">
    <label for="signin-username">Username:</label>
    <input type="text" id="signin-username" name="username" required>

    <label for="signin-password">Password:</label>
    <input type="password" id="signin-password" name="password" required>

    <button type="submit">Sign In</button>
  </form>
