<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>ByteBlogger - fulfill your deepest blogging desires, right here!</title>
</head>
<body>
  {{{body}}}
</body>
  <footer>
    <p>© 2023 ByteBlogger. All rights reserved.</p>
  </footer>
</body>
</html>
