<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In to Byte Blogger!</title>
</head>
<body>
<header>
  <nav>
    <ul class="header-list">
      <li class="middle-item"><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

  <main>
    <h1>Sign In</h1>

    <form action="/signin" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign In</button>
    </form>
  <br>
  <br>

  <h1>Sign Up</h1>
        <form action="/signup" method="POST">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Sign Up</button>
  </main>

  <footer>
    <p>© 2023 ByteBlogger. All rights reserved.</p>
  </footer>
</body>
</html>
