<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In to Byte Blogger!</title>
</head>
<body>
<header>
  <nav>
    <ul class="header-list">
      <li class="middle-item"><a href="/">Home</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Sign In</h1>

  <form action="/signin" method="POST">
    <label for="signin-username">Username:</label>
    <input type="text" id="signin-username" name="username" required>

    <label for="signin-password">Password:</label>
    <input type="password" id="signin-password" name="password" required>

    <button type="submit">Sign In</button>
  </form>

  <br>
  <br>

  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <label for="signup-username">Username:</label>
    <input type="text" id="signup-username" name="username" required>

    <label for="signup-password">Password:</label>
    <input type="password" id="signup-password" name="password" required>

    <button type="submit">Sign Up</button>
    <p class="error-message"></p>
    <p class="success-message"></p>

    <img src="/assets/images/phoneKitty.png">

  </form>
</main>

<footer>
  <p>© 2023 ByteBlogger. All rights reserved.</p>
</footer>

<script src="/js/signin.js"></script>
</body>
</html>
