<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In to Byte Blogger!</title>
</head>
<body>
<header>
<nav>
  <ul class="header-list">
    <li><a href="/">Home</a></li>
    {{#if isUserLoggedIn}}
      <li><a href="/logout">Logout</a></li>
      <li><a href="/logout">Home</a></li>
    {{/if}}
  </ul>
</nav>
</header>

<main>

    {{> signinarea }}

      <br>
      <br>

    {{> signuparea }}

      <br>

    {{> success_error_messages }}

     <img class="cat-image" src="/assets/images/phoneKitty.png" alt="Cat Image">

  </form>
</main>
<script src="/js/authControllers.js"></script>
</body>
</html>
