.comment-text-area {
  height: 50px;
}

#commentAsUserName{
font-style: italic;
color: pink;
}

p .commenting-as-text {
  font-weight: bold;
  color: lightskyblue;
}

h2 {
  color: #00ff00;
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #00ff00;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

button {
  background-color: #00ff00;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

/* Form Styles */
form {
  margin-top: 20px;
}

input[type="text"],
textarea {
  background-color: #000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
  height: 400px;
}

button.cancel-button {
  margin-top: 10px;
}

input.editBlogTitleInput[type="text"] {
  height: 16px;
}

input.addNewPostTitleInput{
  height: 16px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #00ff00;
}

input[type="text"]:focus,
textarea:focus {
  outline-color: #00ff00;
}

/* Custom Retro Styles */
body {
  background-color: #000;
}

h2 {
  color: #00ff00;
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

p {
  margin-bottom: 20px;
}

a {
  color: #00ff00;
  text-decoration: none;
}

button {
  background-color: grey;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
}

button:hover {
  background-color: green;
  color: #00ff00;
}
